/* Text Selection/Highlight Color */
  ::selection {
    color: #f8f9fa;
      background: #00923f;
  }

/* unvisited link */
  a:link {
    color: #00923F;
  }

/* visited link */
  a:visited {
    color: #00923F;
  }

/* mouse over link */
  a:hover {
    color: #69626d;
  }

/* selected link */
  a:active {
    color: #00923F;
  }
